.gradient-custom-2 {
    /* fallback for old browsers */
    background: #b44a60;

    /* Chrome 10-25, Safari 5.1-6 */
    background-color: #b44a60;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #b44a60;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


#buttonentrar {
    background-color: #b44a60;
}

#divlogo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #eadfdb;
}

#colorButton {
    color: #b44a60;
    border-color: #b44a60;
    background-color: transparent;
}

#sombra {
    border: 0%;
    box-shadow: 5px 5px 10px rgb(116, 116, 116);
}